<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true"
         coverage-clover="clover.xml">

    <php>
        <ini name="date.timezone" value="utc"/>
        <const name="WEB_SERVER_HOST" value="localhost"/>
        <const name="WEB_SERVER_PORT" value="1234"/>
    </php>

    <logging>
        <log type="coverage-html" target="build/clover-html" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/clover.xml"/>
        <log type="junit" target="build/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="build/testdox.html"/>
        <log type="testdox-text" target="build/testdox.txt"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
